extends layout

block head
  div(class="banner")
    h1(class="banner-header")= bannerHeader
    p(class="banner-text")= bannerText

block content
  div#useid-widget-container(data-tc-token-url=tcTokenUrl)
  script(async src=widgetSrc)