extends layout

block content
  h1#welcome-header Hallo, Du bist wahrscheinlich hier um Dich auszuweisen? Viel Spaß!
  div#useid-widget-container(data-tc-token-url=tcTokenUrl, data-view=view)
  script(async src=widgetSrc)