doctype html
html(lang='de')
  head
    title BundesIdent Diensteanbieter Beispiel-Anwendung
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" sizes="any" href="favicon.png")
    link(rel="stylesheet" href="css/sanitize.css")
    link(rel="stylesheet" href="css/fonts.css")
    link(rel="stylesheet" href="css/main.css")
body
  block head
  div(class="content")
    block content