doctype html
html
  head
    title BundesIdent Diensteanbieter Beispiel Applikation
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      #useid-widget-container iframe {
        border: none;
      }
      #welcome-header {
        text-align: center;
      }
body
    block content
