doctype html
html
  head
    title UseID eService example app
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
  body
    block content
