doctype html
html
  head
    title UseID eService example app
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      #useid-widget-container {
        border: 2px solid #B8BDC3;
        border-radius: 20px;
      }
  body
    block content
