extends layout

block content
  div(class='head')
    i(class='check')
    h1(class='headline') Ausweis erfolgreich ausgelesen
  div(class='data')
    ul(class='data-attributes')
      for attribute in data
        li(class='data-attribute')
          span= attribute.value
