extends layout

block content
  h1 Ausweisprozess erfolgreich abgeschlossen!
  h4 Hier sind Deine Daten:
  div
    for attribute in data
      li
        strong #{attribute.key}:&ensp;
        span= attribute.value
